[default]
template_dir = "static/"
secret_key = ""

[default.tls]
key = ""
certs = ""

[default.databases.hakobiya]
url = "postgres://username:password@localhost:5432/hakobiya"

[default.oauth.google]
provider = "Google"
client_id = "..."
client_secret = "..."
redirect_uri = "https://localhost:8000/auth/google"
